// b-archive-catalog-filter-left

#b-archive-catalog-filter-left {
	@include sm-max {
		position: fixed;
		z-index: 33;
		top: 0px;
		left: 0px;
		box-shadow: 0px 12px 50px rgba(0, 0, 0, 0.1);
		padding: 20px;
		width: 100%;
		height: 0;
		opacity: 1;
		visibility: hidden;
		overflow-y: auto;
		overflow-x: hidden;
		@include transition(0.3s ease-out 0s);
		&.active {
			opacity: 1;
			visibility: visible;
			height: 100%;
			@include transition(0.3s ease-out 0s);
		}
	}
	@include xs-max {
		width: 100%;
		left: 0;
	}
	.filter {
		&-item {
			.custom-checkbox {
				margin-bottom: 18px;
				.filter-find {
					top: -20px;
					right: -230px;
					z-index: 1;
					box-shadow: 2px 6px 16px -4px rgba(0, 0, 0, 0.12);
					opacity: 0;
					visibility: hidden;
					@include transition(0.3s ease-out 0s);
					&-info {
						span {
							font-weight: 700;
						}
					}
				}
				&.active {
					.filter-find {
						opacity: 1;
						visibility: visible;
						@include transition(0.3s ease-out 0s);
					}
				}
			}
			&--type {
			}
			border-bottom: 2px solid #f0f0f0;
			&--colors {
				.colors-wrapper {
					margin: 0 -10px;
				}
				.color-wrapper {
					flex: 0 0 20%;
					padding: 15px 10px;
				}
				.link-color {
				}
			}
			&--brands {
				.brands {
					max-height: 725px;
					overflow-y: auto;
					overflow-x: hidden;
					.brand {
						&-letter {
							font-weight: 700;
							font-size: 19px;
							line-height: 22px;
						}
					}
				}
			}
		}
		&-title {
			font-size: 17px;
			line-height: 24px;
			font-weight: 500;
		}
	}
}
