//b-single-product-collection

#b-single-product-collection{
  .card-product{
    padding: 20px 16px 50px;
    @include xs-max{
      padding: 20px 16px 20px;
    }
  }
  .slick-list{
    margin: 0 -16px;
  }
  .slick-prev, .slick-next{
   bottom: -22px;
   top: auto;
   width: 40px;
   height: 40px;
  }
  .slick-prev{
    right: 40px;
    left: auto;
    @include sm-max{
      right: 48px;
    }
  }
  .slick-next{
    
  }
}