// b-page-cart-total-info

#b-page-cart-total-info{
  top: 0;
  .total-info{
    &-top{
      border-bottom: 4px solid $black-custom;
      width: 440px;
      @include xl-max{
        max-width: 100%;
      }
      @include md-max{
        width: 100%;
      }
      .info-top{
        &-count{

        }
        &-delivery{
          .btn:not(:disabled):not(.disabled){
            cursor: auto;
            border: none;
          }
          .btn{
            @include xl-max{
              max-width: 100%;
              padding: 0.625rem;
            }
            &:hover{
              border: none;
              @include transition(.0s ease-out 0s);
            }
          }
        }
        &-prices{

        }
        &-item{
          font-size: 17px;
          line-height: 24px;
          font-weight: 500;
          s{
            font-size: 16px;
            line-height: 16px;
            margin-right: 12px;
            opacity: 0.6;
          }
        }
        &-pay{
          .pay{
            &-title{
              font-weight: 500;
            }
            &-list{
              margin: 0 -2px;
              &-item{
                margin: 0 2px;
                border-radius: 5px;
                width: 30px;
                height: 20px;
              }
            }
          }
        }
      }
    }
    &-bottom{
      border: 1px dashed #919191;
      width: 440px;
      @include xl-max{
        max-width: 100%;
      }
      @include md-max{
        width: 100%;
      }
      .info-bottom{
        &-title{
          font-weight: 500;
        }
        &-form{
          .btn{
            max-width: 118px;
            padding: 0.625rem 1.8rem;
          }
        }
      }
    }
  }
}