.modal {
	&::-webkit-scrollbar,
	&::-webkit-scrollbar-thumb {
		all: unset;
		width: 0;
	}
	.btn-close {
		position: absolute;
		top: 18px;
		right: 18px;
		z-index: 2;
		svg {
			fill: $black-custom;
			width: 12px;
			height: 12px;
			@include md-max {
				fill: $white;
			}
		}
	}
	@include xs-max {
		.modal-dialog {
			margin: 0.5rem -1px;
		}
	}
	.btn-black-custom {
		min-width: 390px;
		@include md-max {
			min-width: 100%;
		}
	}
}
#modal-taxi {
	.filter-item--static-city {
		min-width: auto;
	}
}
