// b-page-cart-list-product

#b-page-cart-list-product {
	.list-product {
		&-table {
			.table {
				&-product {
					&-image {
						@include lg-max {
							min-width: 70px;
						}
						@include sm-max {
							min-width: 50px;
						}
					}
					&-code {
						font-size: 13px;
						line-height: 18px;
					}
					&-name {
						@include xl-max {
							br {
								display: none;
							}
						}
						@include lg-max {
							font-size: 18px;
						}
						@include sm-max {
							font-size: 16px;
						}
					}
					&:hover {
						text-decoration: none;
					}
				}
				&-price {
					font-size: 18px;
					line-height: 24px;
					font-weight: 500;
				}
				&-count {
					.custom-control-number--cart {
						width: 112px;
						input[type="number"] {
							font-size: 18px;
							line-height: 24px;
							font-weight: 500;
						}
					}
					.custom-control-number--cart .minus,
					.custom-control-number--cart .plus {
						width: 24px;
						height: 24px;
						font-size: 18px;
						line-height: 24px;
					}
					.link-wrapper {
						bottom: -40px;
						right: 0px;
						.link-wish-list {
							opacity: 0.6;
							span {
								font-size: 15px;
								line-height: 20px;
							}
						}
					}
				}
				&-total-price {
					.price {
						font-size: 22px;
						line-height: 24px;
						font-weight: 500;
						@include sm-max {
							font-size: 16px;
							line-height: 22px;
						}
					}
					.link-wrapper {
						bottom: -50px;
						right: 0px;
						.link-wish-list {
							opacity: 0.6;
							span {
								font-size: 15px;
								line-height: 20px;
							}
						}
					}
				}
				&-row {
					background-color: #fbfbfb;
					td {
						padding: 15px 13px;
					}
				}
				&-extra-info {
					.delivery,
					.time,
					.in-stock {
						font-size: 13px;
						line-height: 18px;
						&:before {
							content: "";
							display: block;
							position: absolute;
							top: 0;
							bottom: 0;
							margin: auto 0;
						}
					}
					.delivery {
						&:before {
							background: url(../img/table-extra-info-delivery.svg) no-repeat center;
							width: 15px;
							height: 15px;
							left: 4px;
						}
					}
					.time {
						&:before {
							background: url(../img/table-extra-info-time.svg) no-repeat center;
							width: 19px;
							height: 13px;
							left: 0;
						}
					}
					.in-stock {
						&:before {
							background: url(../img/table-extra-info-in-stock.svg) no-repeat center;
							width: 16px;
							height: 16px;
							left: 3px;
						}
					}
				}
			}
		}
	}
}
